<html>

<head>
  <title>My Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <link rel="stylesheet" type="text/css" href="./style.css" />
  <script type="module" src="index.js"></script>
</head>
<body>
<h3> <%= @user.username %>'s Travels</h3>

<input id="pac-input" class="controls" style="height: 50px; width: 80%;" type="text" placeholder="Add Travel Destination" />
<!--<div class="input-group">-->
<!--  <div class="form-outline">-->
<!--    <input type="search" id="pac-input" class="form-control" />-->
<!--    <label class="form-label" for="form1">Search</label>-->
<!--  </div>-->
<!--  <button type="button" class="btn btn-primary">-->
<!--    <i class="fas fa-search"></i>-->
<!--  </button>-->
<!--</div>-->
<!--<div class="main-search-input-wrap">-->
<!--  <div class="main-search-input fl-wrap">-->
<!--    <div class="main-search-input-item"> <input id="pac-input" type="text" value="" placeholder="Add Travel Destination"> </div> <button class="main-search-button">Search</button>-->
<!--  </div>-->
<!--</div>-->

<%= render "streets/form" %>
<%#= form_with model: @street do |form| %>
<!--  <div id = "name">-->
    <%#= form.label :street_name, style: "display: block" %>
    <%#= form.number_field :street_name %>
<!--  </div>-->
<!--  <div id = "latitude">-->
    <%#= form.label :latitude, style: "display: block" %>
    <%#= form.number_field :latitude %>
<!--  </div>-->
<!--  <div id = "longitude">-->
    <%#= form.label :longitude, style: "display: block" %>
    <%#= form.number_field :longitude %>
<!--  </div>-->
<!--  <div>-->
    <%#= form.submit %>
<!--  </div>-->
<%# end %>

<!--<div id="name" type="text"> </div>-->
<!--<div id="latitude" type="text" > </div>-->
<!--<div id="longitude" type="text"> </div>-->






<script>




</script>

<%# street = Street.create(city: z, longitude: x, latitude: y) %>

<div id="map"></div>

<%= render "map" %>




</body>

</html>

<!--<p style="color: green"><%#= notice %></p>-->
<!--<style>-->
<!--    h1 {font-family: Avenir, fantasy;}-->
<!--    h5 {font-family: Avenir, fantasy; font-size: 20px; color: #01256e; font-weight: bold}-->
<!--    h6 {font-family: Avenir, fantasy; font-size: 17px; color: #01256e;}-->
<!--    h7 {font-family: Avenir, fantasy; font-size: 20px; font-weight: bold}-->
<!--    h9 {font-family: Avenir, fantasy; font-size: 17px; }-->
<!--</style>-->

<!--<h1> User Info</h1>-->

<%#= render @user %>

<!--<div class="col-md-12 bg-light text-right ">-->
<!--  <h5>-->
    <%# if current_user.eql? @user %>
<!--      <a class="btn btn-outline-primary" href="<%#= edit_user_path(current_user) %>"  role ="button"> Edit User</a>-->

<!--      button_to "Edit this user", edit_user_path(@user), method: :post  --->
    <%# end %>
<!--    <a class="btn btn-outline-primary" href="<%#= users_path %>"  role ="button"> Back to Users</a>-->
<!--      </h5>-->

<!--</div>-->

<!--<p>-->
<%# if @user.is_instructor %>
<!--  <h5> Courses Teaching</h5>-->
  <%# end %>
<%# unless @user.is_instructor %>
<!--  <h5> Courses Taking </h5>-->
  <%# end %>
<!--</p>-->

<!--<div class = "row row-cols-1 row-cols-md-2">-->
  <%# Course.all.each do |course| %>
<!--    <div class="col mb-4">-->
      <%# if current_user.courses.include?(course) || (course.instructor.eql? @user) %>

<!--      <div class="card" style="width: 18rem;">-->
<!--        <div class="card-body">-->
<!--          <p> <h5 class="card-title mb-2"> <%#= course.full_code %> </h5> </p>-->
<!--          <h6 class="card-subtitle mb-2"> <%#= course.title %> </h6>-->
<!--          <h6 class="card-subtitle mb-2 text-muted"> <%#= course.instructor.full_name %> </h6>-->
<!--          <p> <h9 class="card-text mb-2 text-muted"> <%#= truncate(course.description, :length => 120) %></h9> </p>-->

<!--          button_to "Course Info", course_path(course)  -->
<!--          <a class = "btn btn-outline-primary btn-sm" href=" <%#= course_path(course) %>" role="button"> Course Info </a>-->

          <%# if (current_user.eql? @user) && !(course.instructor.eql? @user)  %>
<!--            <a class ="btn btn-outline-primary btn-sm"  href="/drop_course/<%#= current_user.id %>/<%#= course.id %>"-->
<!--               role = "button"> Drop Course </a>-->
          <%# end %>
          <%# if course.instructor.eql? current_user %>
<!--            <a href="#" class="card-link">-->
              <%#= button_to "Edit", edit_course_path(course) %>
<!--            </a>-->
          <%# end %>
<!--        </div>-->
        <%# end %>
<!--      </div>-->
<!--    </div>-->

  <%# end %>
<!--</div>-->

